*{
    padding: 0px;
    margin: 0px;
}
.logo {
    height: 100px;
    width: 70px;

}

* {
    margin: 0px;
    padding: 0px;
}
body {
   
}
.via{
    background-image: linear-gradient(rgba(4,9,30,0.5)50%,rgba(4,9,30,0.5)50%),url(images/11.jpg);

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5)50%,rgba(4,9,30,0.5)50%),url(images/PHOTO-2019-03-04-14-45-13\ 2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center; 
}
nav img {
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #eca60e;
    display: block;
    margin: auto;
    transition: 0.5s;
    

}
.text-box{
    margin-left: 100px;
}
.text-box h1{
    font-size: 62px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: wheat;
}
.click{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 50px;
}
.click:hover{
    border: 1px solid #171242;
    background: #140f31;
    transition: 1s;
}
.back{
    color: white;
    text-align: center;
}
.view{
    display: flex;
    
}
.gaa{
    width: 700px;
    height: 500px;
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 10px;
}
.caa{
    text-align: center;
    margin-top: 25px;
}
.jaa{
    line-height: 1.5rem;
}
.saa{
    margin-bottom: 15px;
    font-size: xx-large;
}
.too{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
  
}
.laa{
    display: flex;
}
.paa{
    display: flex;
}
.calling {
    display: flex;
    background-color: #08080a;
    text-align: left;
    color: white;
    height: 500px;
    padding: 50px;
    
}
.IT {
    margin-left:200px ;
    margin-right: 100px;
    line-height: 1.5rem;
}

.Busy {
    margin-left: 100px;
    margin-right: 200px;
    line-height: 1.5rem;

}
.Sad {
    margin-left: 100px;
    line-height: 1.5rem;

}
.click{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 50px;
}
.click:hover{
    border: 1px solid #171242;
    background: #140f31;
    transition: 1s;

}
